.card{
    max-width: 500px;
    background-color: whitesmoke;
    border-radius: 5px;
    --padding-y: 40px;
    box-shadow: 0px 0px 20px
    color-mix(in srgb, black, transparent 80%);
}

.card__startup{
    --price-theme: #5a5679;
    --price-theme-darker: #241f46;
}
.card__pro{
    --price-theme: #f3847e;
    --price-theme-darker: #d43533;
    --padding-y: 70px;
}

.card__enterprise{
    --price-theme: #47b8e0;
    --price-theme-darker: #1378d5;
}

.card__wrapper{
    width: 90%;
    margin: 0 auto;
    padding: var(--padding-y) 10px;

    
}
.card__label {
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.card__img{
    max-width: 70px;
    width: 100%;
    margin-top: 20px;
}

.card__priceLabel{
    margin-top: 10px;
    text-align: center;
    color: var(--price-theme);
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #898484;
}

.card__price__duration{
    font-size: 0.8rem;
    margin-left: 4px;
}

.card__price__figure{
    font-weight: bold;
}

.card__benefitsLabel{
    color: var(--price-theme);
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1.5px;
}

.card__benefits{
    color: black;
    padding-left: 10px;
    font-size: 0.7rem;
}

.card__benefit{
    margin-bottom: 15px;

}
.card__benefit__icon{
    width: 12px;
    height: 12px;
    background-color: color-mix(
        in srgb,
        var(--price-theme),
        white 40%
        );
    padding: 2px;
    border-radius: 50%;
    margin-right: 6px;

}

.card .card__button{
    text-transform: uppercase;
    padding: 15px;
    background-color: var(--price-theme);
    width: 100%;
    text-align: center;
    border: 2px solid var(--price-theme-darker);
    border-radius: 3px;
    margin-top: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
